<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-image-editor" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-plugin-image-editor</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/skonb/cordova-plugin-image-editor.git</repo>
    <issue>https://github.com/skonb/cordova-plugin-image-editor/issues</issue>

    <!-- android -->
    <platform name="android">
        <js-module name="image_editor_plugin" src="www/image-editor-plugin.js">
            <runs />

            <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
            <clobbers target="ImageEditorPlugin" />
        </js-module>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ImageEditor">
                <param name="android-package" value="is.w_ax.cordova.imageeditor.ImageEditorPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file parent="application" target="AndroidManifest.xml">
            <provider android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
            </provider>
        </config-file>
        <source-file src="src/android/is/w_ax/cordova/imageeditor/ImageEditorPlugin.java" target-dir="src/is/w_ax/cordova/imageeditor/" />
        <source-file src="src/android/is/w_ax/cordova/imageeditor/FileUtils.java" target-dir="src/is/w_ax/cordova/imageeditor/" />
        <source-file src="src/android/is/w_ax/cordova/imageeditor/PhotoLoader.java" target-dir="src/is/w_ax/cordova/imageeditor/" />
        <framework custom="true" src="src/android/image_editor.gradle" type="gradleReference" />

    </platform>

</plugin>
